/* GLOBAL */
/* Footer */
.footer {
  margin: 2rem 3rem;
}
.footer a {
  margin-top: 1rem;
}
.footerLogo {
  width: 11rem;
  height: 11rem;
}

/* INDEX PAGE */
/* Jumbotron */
.jumbotron {
  background: radial-gradient(yellow, orange);
}
#jumbotronMessage {
  width: 60%;
  margin: 2rem 0;
}

/* ABOUT PAGE */
/* Section */
#aboutMainImage {
  width: 15rem;
  height: 20rem;
  border: black 1px solid;
  float: left;
  margin-right: 2.5rem;
}
#aboutInformation h5 {
  margin: 3rem 0 2rem 0;
}
#aboutInformation p {
  line-height: 2.5rem;
}
